  .bi {
    fill: currentColor;
  }

  body {
    padding-top: 60px;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #198754;
  }

  /* .icon-colorized {
    color: #0d6efd;
  } */

  .icon-colorized {
    color: #198754;
  }

  .icon-custom-size {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }

  .info-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #198754;
    color: white;
    text-align: center;
    z-index: 1000; /* Ensure the bar is on top of other content */
  }

  .bd-masthead {
    --bd-pink-rgb: 214,51,132;
    padding: 3rem 0;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}

